.container-shadow {
  background-color: #ffffff;
  box-shadow: rgba(31, 37, 50, 0.2) 0px 2px 4px 0px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-color: rgba(0, 0, 0, 0.125);
  border-style: solid;
  border-width: 0px;
  border-radius: 0.25rem; }

.hide {
  display: none; }

.wx-feeds {
  width: 415px;
  margin: 0 auto; }
  .wx-feeds button:focus:not(:focus-visible) {
    box-shadow: none; }
  .wx-feeds a,
  .wx-feeds a:hover,
  .wx-feeds a:focus {
    color: #58595B;
    text-decoration: underline; }
  .wx-feeds .panel-group .card {
    border-width: 0px; }
  .wx-feeds .btn-theme .btn-link,
  .wx-feeds .btn-theme .btn-link:hover {
    text-decoration: none; }
  .wx-feeds .container-theme {
    background-color: #ffffff;
    color: #000000; }
    .wx-feeds .container-theme a,
    .wx-feeds .container-theme a:hover,
    .wx-feeds .container-theme a:focus {
      color: #ffffff;
      text-decoration: none; }
    .wx-feeds .container-theme p {
      color: #ffffff; }
    .wx-feeds .container-theme .carousel .carousel-control-prev,
    .wx-feeds .container-theme .carousel .carousel-control-next {
      opacity: 1; }
    .wx-feeds .container-theme .wx-now {
      background: transparent;
      border: 0px solid transparent; }
    .wx-feeds .container-theme .wx-now:hover {
      cursor: default; }
    .wx-feeds .container-theme .wx-temp {
      font-weight: 100;
      font-family: 'Spartan', sans-serif;
      font-size: 3rem;
      color: #ffffff; }
      .wx-feeds .container-theme .wx-temp:hover {
        cursor: default; }
    .wx-feeds .container-theme .wx-icon-now {
      display: inline-block;
      margin-right: 15px;
      float: left;
      width: 72px;
      height: 72px;
      background-repeat: no-repeat;
      background-size: contain;
      filter: invert(1); }
    .wx-feeds .container-theme .wx-icon-now.mi-warning {
      background-image: url("../images/svg/mi-warning.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-cloud {
      background-image: url("../images/svg/wi-cloud.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-cloudy {
      background-image: url("../images/svg/wi-cloudy.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-day-cloudy {
      background-image: url("../images/svg/wi-day-cloudy.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-day-sunny {
      background-image: url("../images/svg/wi-day-sunny.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-night-sunny,
    .wx-feeds .container-theme .wx-icon-now.wi-night-cloudy {
      background-image: url("../images/svg/wi-night-cloudy.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-day-windy {
      background-image: url("../images/svg/wi-day-windy.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-rain {
      background-image: url("../images/svg/wi-rain.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-day-rain {
      background-image: url("../images/svg/wi-day-rain.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-day-sprinkle {
      background-image: url("../images/svg/wi-day-sprinkle.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-sprinkle {
      background-image: url("../images/svg/wi-sprinkle.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-day-showers {
      background-image: url("../images/svg/wi-day-showers.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-day-storm-showers {
      background-image: url("../images/svg/wi-day-storm-showers.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-thunderstorm {
      background-image: url("../images/svg/wi-thunderstorm.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-tornado {
      background-image: url("../images/svg/wi-tornado.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-lightning {
      background-image: url("../images/svg/wi-lightning.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-hail {
      background-image: url("../images/svg/wi-hail.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-smoke {
      background-image: url("../images/svg/wi-smoke.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-smog {
      background-image: url("../images/svg/wi-smog.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-day-snow {
      background-image: url("../images/svg/wi-day-snow.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-snow {
      background-image: url("../images/svg/wi-snow.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-day-sleet {
      background-image: url("../images/svg/wi-day-sleet.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-sleet {
      background-image: url("../images/svg/wi-sleet.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-fog {
      background-image: url("../images/svg/wi-fog.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-stars {
      background-image: url("../images/svg/wi-stars.svg"); }
    .wx-feeds .container-theme .wx-icon-now.wi-thermometer {
      background-image: url("../images/svg/wi-thermometer.svg"); }
  .wx-feeds .wxout_temps {
    text-align: center;
    /*small {
			font-size 	: 85%;
			display		: block;
		}*/ }
  .wx-feeds .slider_temps {
    margin-top: 1rem; }
  .wx-feeds p small {
    font-size: 85%; }
  .wx-feeds .wx-icon {
    display: inline-block;
    margin-right: 15px;
    float: left;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain; }
  .wx-feeds #wx_alerts .panel {
    display: none; }
  .wx-feeds .wx-tornado {
    background-image: url("../images/svg/wi-tornado.svg"); }
  .wx-feeds .wx-storm {
    background-image: url("../images/svg/wi-storm-showers.svg"); }
  .wx-feeds .wx-surf {
    background-image: url("../images/svg/wi-gale-warning.svg"); }
  .wx-feeds .wx-wind {
    background-image: url("../images/svg/wi-cloudy-gusts.svg"); }
  .wx-feeds .wx-flood {
    background-image: url("../images/svg/wi-raindrops.svg"); }
  .wx-feeds .wx-heat {
    background-image: url("../images/svg/wi-thermometer.svg"); }
  .wx-feeds .wx-fire {
    background-image: url("../images/svg/wi-fire.svg"); }
  .wx-feeds .wx-smoke {
    background-image: url("../images/svg/wi-dust.svg"); }
  .wx-feeds .wx-hurricane {
    background-image: url("../images/svg/wi-hurricane.svg"); }
  .wx-feeds .wx-winter {
    background-image: url("../images/svg/wi-snow.svg"); }
  .wx-feeds .wx-freeze {
    background-image: url("../images/svg/wi-stars.svg"); }
  .wx-feeds .wx-other {
    background-image: url("../images/svg/wi-day-cloudy.svg"); }
  .wx-feeds .container-theme.wx-neutral {
    background-color: #58595B;
    color: #ffffff; }
  .wx-feeds .btn-theme.wx-neutral .btn-link {
    color: #58595B; }
  .wx-feeds .container-theme.wx-dark {
    background-color: #03173E;
    color: #ffffff; }
  .wx-feeds .btn-theme.wx-dark .btn-link {
    color: #03173E; }
  .wx-feeds .container-theme.wx-light {
    background-color: #00558C;
    color: #ffffff; }
  .wx-feeds .btn-theme.wx-light .btn-link {
    color: #00558C; }
  .wx-feeds .btn-theme.wx-bright .btn-link {
    color: #58595B; }
  .wx-feeds .container-theme.wx-bright {
    background-color: #EEF2F9;
    color: #000000; }
    .wx-feeds .container-theme.wx-bright .wx-icon-now {
      filter: invert(0); }
    .wx-feeds .container-theme.wx-bright a,
    .wx-feeds .container-theme.wx-bright a:hover,
    .wx-feeds .container-theme.wx-bright a:focus {
      color: #000000; }
    .wx-feeds .container-theme.wx-bright p {
      color: #000000; }
    .wx-feeds .container-theme.wx-bright .wx-temp {
      color: #000000; }
  .wx-feeds .btn-theme.wx-brightest .btn-link {
    color: #FFC845; }
  .wx-feeds .container-theme.wx-brightest .carousel .carousel-control-prev-icon,
  .wx-feeds .container-theme.wx-brightest .carousel .carousel-control-next-icon,
  .wx-feeds .container-theme.wx-bright .carousel .carousel-control-prev-icon,
  .wx-feeds .container-theme.wx-bright .carousel .carousel-control-next-icon {
    filter: invert(1); }
  .wx-feeds .container-theme.wx-brightest {
    background-color: #FFC845;
    color: #000000; }
    .wx-feeds .container-theme.wx-brightest .wx-icon-now {
      filter: invert(0); }
    .wx-feeds .container-theme.wx-brightest a,
    .wx-feeds .container-theme.wx-brightest a:hover,
    .wx-feeds .container-theme.wx-brightest a:focus {
      color: #000000; }
    .wx-feeds .container-theme.wx-brightest p {
      color: #000000; }
    .wx-feeds .container-theme.wx-brightest .wx-temp {
      color: #000000; }
  .wx-feeds .btn-theme.wx-darkest .btn-link {
    color: #1F2532; }
  .wx-feeds .container-theme.wx-darkest {
    background-color: #1F2532;
    color: #ffffff; }
    .wx-feeds .container-theme.wx-darkest .wx-icon-now {
      filter: invert(1); }
    .wx-feeds .container-theme.wx-darkest a,
    .wx-feeds .container-theme.wx-darkest a:hover,
    .wx-feeds .container-theme.wx-darkest a:focus,
    .wx-feeds .container-theme.wx-darkest p,
    .wx-feeds .container-theme.wx-darkest .wx-temp {
      color: #ffffff; }
  .wx-feeds .btn-theme.wx-danger .btn-link {
    color: #EA0707; }
  .wx-feeds .container-theme.wx-danger {
    background-color: #EA0707;
    color: #ffffff; }
    .wx-feeds .container-theme.wx-danger .wx-icon-now {
      filter: invert(1); }
    .wx-feeds .container-theme.wx-danger a,
    .wx-feeds .container-theme.wx-danger a:hover,
    .wx-feeds .container-theme.wx-danger a:focus,
    .wx-feeds .container-theme.wx-danger p,
    .wx-feeds .container-theme.wx-danger .wx-temp {
      color: #ffffff; }
